$first__color: white;
$second__color: #4db5ff;
$third__color: #17171b;
$forth__color: #2c2c6c;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 80px auto;
}

.contact__intro-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
  color: $first__color;
  opacity: 0.7;
}

.contact__me-text {
  font-size: 36px;
  font-weight: 500;
  line-height: 34.5px;
  color: $second__color;
}

.contact__text {
  margin-bottom: 20px;
  text-align: center;
}

.contact__wrapper {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 2.5fr;
  gap: 5rem;
  margin-top: 25px;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid transparent;
  border-radius: 2rem;
  padding: 1.2rem;
  background-color: $forth__color;
  color: $first__color;
  transition: all 0.4s ease;
}

.contact__option:hover {
  background-color: transparent;
  border: 0.5px solid $second__color;
}

.contact__icon {
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
}

.contact__title {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 500;
}

.contact__info {
  font-size: 16px;
  margin-bottom: 15px;
}

.contact__send {
  font-size: 18px;
  color: $second__color;
  transition: all 0.4s ease;
  text-decoration: none;
}

.contact__send:hover {
  color: $first__color;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact__input {
  border: 2px solid rgba(77, 181, 255, 0.4);
  border-radius: 1rem;
  padding: 1.5rem;
  width: 100%;
  background: transparent;
  color: $first__color;
}

.contact__input::placeholder {
  font-size: 15px;
}

.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  margin-right: 20px;
  border-radius: 1rem;
  background-color: $second__color;
  border: 0.5px solid $second__color;
  transition: all 0.4s ease;
}

.contact__button:hover {
  background-color: $first__color;
  border: 0.5px solid $first__color;
}

@media (max-width: 900px) {
  .contact__wrapper {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .contact__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  .contact__option {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .contact__option {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__info {
    font-size: 13px;
  }
}
