.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 80px auto;
}

.portfolio__intro-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
}

.portfolio__me-text {
  font-size: 36px;
  font-weight: 500;
  line-height: 34.5px;
}

.portfolio__text {
  margin-bottom: 20px;
  text-align: center;
}

.portfolio__wrapper {
  margin-top: 25px;
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.portfolio__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 1;
  margin-bottom: 20px;
  border-radius: 2rem;
  border: 1px solid black;
  padding: 1.3rem;
  gap: 1rem;
}

.porfolio__image {
  border-radius: 2rem;
  overflow: hidden;
  height: 17rem;
  width: 100%;
  position: relative;
}

.portfolio-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
}

.portfolio-description {
  font-size: 18px;
}

.porfolio__button {
  margin: auto 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 150px;
  height: 50px;
  // margin-right: 20px;
  border-radius: 1rem;
}


