$first__color: white;
$second__color: #9ACD32;
$third__color: #17171b;
$forth__color: #25331A;
$intro__text: 18px;

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 80px auto;
}

.portfolio__intro-text {
  font-size: $intro__text;
  font-weight: 500;
  line-height: 23px;
  opacity: 0.7;
  color: $first__color;
}

.portfolio__me-text {
  font-size: 36px;
  font-weight: 500;
  line-height: 34.5px;
  color: $second__color;
}

.portfolio__text {
  margin-bottom: 20px;
  text-align: center;
}

.portfolio__wrapper {
  margin-top: 25px;
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.portfolio__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 1;
  margin-bottom: 20px;
  border-radius: 2rem;
  border: 0.5px solid transparent;
  padding: 1.3rem;
  gap: 1rem;
  background-color: $forth__color;
  transition: all 0.4s ease;
}

.portfolio__project:hover {
  border: 0.5px solid $second__color;
  background-color: transparent;
}

.porfolio__image {
  border-radius: 2rem;
  overflow: hidden;
  height: 17rem;
  width: 100%;
  position: relative;
}

.portfolio-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: $first__color;
}

.portfolio-description {
  font-size: 18px;
  color: $first__color;
}

.portfolio__button {
  margin: auto 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid $second__color;
  color: $second__color;
  width: 150px;
  height: 50px;
  margin-right: 20px;
  border-radius: 1rem;
  text-decoration: none;
  transition: all 0.4s ease;
}

.portfolio__button:hover {
  background-color: $first__color;
  color: $third__color;
  border: 0.5px solid $first__color;
}

@media (max-width: 1350px) {
  .portfolio__wrapper {
    grid-template-columns: 1fr;
  }

  .porfolio__image {
    height: 25rem;
  }

  .portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: 690px) and (max-width: 920px) {
  .porfolio__image {
    height: 18rem;
  }

  .portfolio-img {
    height: 18rem;
    border-radius: 2rem;
  }
}

@media (max-width: 689px) {
  .porfolio__image {
    max-height: 12rem;
    min-height: 10rem;
  }

  .portfolio-img {
    max-height: 12rem;
    min-height: 10rem;
    border-radius: 2rem;
    object-fit: fill;
  }
}
