$first__color: white;
$second__color: #4db5ff;
$third__color: #17171b;
$forth__color: #2c2c6c;

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 80px auto;
}

.experience__intro-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
  color: $first__color;
  opacity: 0.7;
}

.experience__me-text {
  font-size: 36px;
  font-weight: 500;
  line-height: 34.5px;
  color: $second__color;
}

.experience__text {
  margin-bottom: 20px;
  text-align: center;
}

.experience__wrapper {
  margin-top: 25px;
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__stack {
  border-radius: 2rem;
  padding: 2.4rem 4.5rem;
  background-color: $forth__color;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}

.experience__stack:hover {
  border-radius: 2rem;
  padding: 2.4rem 4.5rem;
  background: transparent;
  border: 1px solid $second__color;
}

.experience__title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: $second__color;
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__language {
  font-size: 18px;
  color: $first__color;
}

.experience__icon {
  color: $second__color;
}
