$first__color: white;
$second__color: #9ACD32;
$third__color: #17171b;


.header {
  padding-top: 100px;
  height: 100vh;
}

.header__container {
  display: flex;
  width: 75%;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
}

.header__primary-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__greeting {
  font-size: 22px;
  font-weight: 500;
  line-height: 23px;
  color: $first__color;
}

.header__name {
  font-size: 48px;
  line-height: 46px;
  font-weight: 500;
  color: $first__color;
}

.header__profession {
  font-size: 36px;
  font-weight: 500;
  line-height: 34.5px;
  color: $first__color;
}

.header-text {
  margin-bottom: 20px;
  text-align: center;
}

.header-text:last-child {
  margin-bottom: 0;
}

.header__cta {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid $second__color;
  color: $second__color;
  width: 150px;
  height: 50px;
  margin-right: 20px;
  border-radius: 1rem;
  text-decoration: none;
  transition: all 0.4s ease;
}

.button:hover {
  background-color: $first__color;
  color: $third__color;
  border: 0.5px solid $first__color;
}

.button-primary {
  background-color: $second__color;
  color: $third__color;
}

.button:last-child {
  margin-right: 0;
}

.header__contact-info {
  display: flex;
  margin-top: 65px;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}

.header__socials {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100px;
}

.header__avatar {
  position: relative;
  width: 19rem;
  height: 380px;
  overflow: hidden;
  border-radius: 7rem 1rem;
}

.header__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.header__scroll {
  display: flex;
  align-items: flex-end;
  writing-mode: vertical-lr;
  width: 100px;
}

.header-icon {
  margin-bottom: 20px;
}

.header-icon:last-child {
  margin-bottom: 0;
}

.header__icon {
  width: 20px;
  height: 20px;
  color: $second__color;
  transition: all 0.4s ease;
}

.header__icon:hover {
  color: $first__color;
}

.header__scroll-down {
  color: $second__color;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.4s ease;
}

.header__scroll-down:hover {
  color: $first__color;
}

@media (max-width: 500px) {
  .header__socials, .header__scroll {
    display: none;
  }

  .header__contact-info {
    justify-content: center;
  }

}

@media (max-height: 720px) {
  .header {
    padding-top: 60px;
  }

  .header__avatar {
    display: none;
  }

  .header__contact-info {
    margin-top: 0px;
    margin-bottom: 50px;
    position: absolute;
    width: 100%;
    top: 50%;
  }

  .header__container {
    position: relative;
  }
}
