$first__color: white;
$second__color: #9ACD32;
$third__color: #17171b;
$forth__color: #25331A;

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 90%;
  gap: 1rem;
  padding: 0.7rem 1.7rem;
  backdrop-filter: blur(15px);
  background: rgba(53, 65, 9, .3);
  border-radius: 3rem;
  transform: translate(-50%);
  width: max-content;
  z-index: 2;
}

.nav__anchor {
  padding: 0.6rem;
  display: flex;
  font-size: 1.1rem;
  color: $first__color;
}

.nav__anchor:hover {
  background: rgba(0,0,0,0.4);
  border-radius: 50%;
}

.active {
  padding: 0.6rem;
  border-radius: 50%;
  background-color: $second__color;
  color: $third__color;
  text-decoration: line-through;
}
